{% extends 'social/base.html' %}
{% block title %}Crowdsourcing -- Upload Tweets{% endblock %}

{% block content %}
<div class="col-12 mt-3">
  <div class="card">
    <div class="card-header bg-transparent">
      ファイルをアップロードしてください
    </div>
    <div class="card-body">
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mb-3">
          <label for="{{ form.file.id_for_label }}" class="form-label">{{ form.file.label }}</label>
          {{ form.file }}
        </div>
        <button type="submit" class="btn btn-primary" name="upload_button">アップロード</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
