{% extends 'social/base.html' %}
{% block title %}Crowdsourcing{% endblock %}

{% block content %}
<!-- -------------------------------------------------- -->
<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 p-3" id="tweet-{{tweet.tweet_id}}"><!-- tweet block ({{tweet.tweet_id}}) start -->
  <div class="card">
    {% include 'social/sme_result.html' %}
    {% include 'social/tweet_body.html' %}
    {% include 'social/volunteer_working_status.html' %}
    {% include 'social/crowd_reaction.html' %}
    {% include 'social/volunteer_accept_button.html' %}
  </div><!-- end of card -->
</div><!-- end of tweet block {{tweet.tweet_id}} -->
<!-- -------------------------------------------------- -->
{% endblock %}
